@font-face {
  font-family: "iconfont"; /* Project id 4133519 */
  src: url('iconfont.woff2?t=1745881707597') format('woff2'),
       url('iconfont.woff?t=1745881707597') format('woff'),
       url('iconfont.ttf?t=1745881707597') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti1:before {
  content: "\e60b";
}

.icon-OTAshengjiweixuanzhong:before {
  content: "\e608";
}

.icon-new:before {
  content: "\e614";
}

.icon-message_like:before {
  content: "\e666";
}

.icon-shoucang:before {
  content: "\e865";
}

.icon-hot-for-ux-fill:before {
  content: "\e83d";
}

.icon-weiruan:before {
  content: "\e604";
}

.icon-weixin:before {
  content: "\e605";
}

.icon-ios:before {
  content: "\e606";
}

.icon-LOGO:before {
  content: "\e612";
}

.icon-flash:before {
  content: "\e68f";
}

.icon-bluetooth:before {
  content: "\e62d";
}

.icon-logo:before {
  content: "\e6e3";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-WIFI:before {
  content: "\e76c";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-Nodejs:before {
  content: "\e7a4";
}

.icon-iot:before {
  content: "\e916";
}

.icon-bitebi:before {
  content: "\e672";
}

.icon-bug:before {
  content: "\e62a";
}

.icon-alipay-fill:before {
  content: "\e69a";
}

.icon-logo1:before {
  content: "\e607";
}

.icon-react:before {
  content: "\e689";
}

.icon-Clion-01-01:before {
  content: "\e613";
}

.icon-qq:before {
  content: "\e632";
}

.icon-github-line:before {
  content: "\e6fe";
}

.icon-c:before {
  content: "\e645";
}

.icon-lightbulb:before {
  content: "\e640";
}

.icon-mqtt-logo:before {
  content: "\e602";
}

.icon-qiehuan1:before {
  content: "\e623";
}

.icon-tianjiashebei:before {
  content: "\e6c8";
}

.icon-youjiantou1:before {
  content: "\e60a";
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-shebei:before {
  content: "\e720";
}

.icon-nodejs:before {
  content: "\e622";
}

.icon-close:before {
  content: "\e644";
}

.icon-back:before {
  content: "\e654";
}

.icon-Sun:before {
  content: "\e660";
}

.icon-dark:before {
  content: "\10ed8";
}

.icon-qiehuan:before {
  content: "\e647";
}

.icon-xuanzetupian:before {
  content: "\e822";
}

.icon-done:before {
  content: "\e690";
}

.icon-fabu:before {
  content: "\e8ef";
}

.icon-logout:before {
  content: "\e635";
}

.icon-search:before {
  content: "\e624";
}

.icon-chat1196057easyiconnet1:before {
  content: "\e62c";
}

.icon-app:before {
  content: "\e6b9";
}

.icon-edit:before {
  content: "\e732";
}

.icon-icf_wirte:before {
  content: "\e76e";
}

.icon-add:before {
  content: "\e6a4";
}

.icon-delete:before {
  content: "\e603";
}

.icon-youjiantou:before {
  content: "\e610";
}

.icon-touzi:before {
  content: "\e64c";
}

.icon-comment:before {
  content: "\e6aa";
}

.icon-options-horizontal:before {
  content: "\e600";
}

.icon-like:before {
  content: "\e649";
}

.icon-uutcollect:before {
  content: "\e631";
}

.icon-eye:before {
  content: "\e611";
}

