@font-face {
  font-family: "iconfont"; /* Project id 4133519 */
  src: url('iconfont.woff2?t=1724232972348') format('woff2'),
       url('iconfont.woff?t=1724232972348') format('woff'),
       url('iconfont.ttf?t=1724232972348') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanzetupian:before {
  content: "\e822";
}

.icon-done:before {
  content: "\e690";
}

.icon-fabu:before {
  content: "\e8ef";
}

.icon-logout:before {
  content: "\e635";
}

.icon-search:before {
  content: "\e624";
}

.icon-chat1196057easyiconnet1:before {
  content: "\e62c";
}

.icon-app:before {
  content: "\e6b9";
}

.icon-edit:before {
  content: "\e732";
}

.icon-icf_wirte:before {
  content: "\e76e";
}

.icon-add:before {
  content: "\e6a4";
}

.icon-delete:before {
  content: "\e603";
}

.icon-youjiantou:before {
  content: "\e610";
}

.icon-touzi:before {
  content: "\e64c";
}

.icon-comment:before {
  content: "\e6aa";
}

.icon-options-horizontal:before {
  content: "\e600";
}

.icon-like:before {
  content: "\e649";
}

.icon-uutcollect:before {
  content: "\e631";
}

.icon-eye:before {
  content: "\e611";
}

