@import "/src/assets/globalStyle/commonStyle.less";

.blog-item{
  cursor: pointer;
  width: 334px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 14px;
  border: 1px solid @weak-gray;
  transition: all 0.2s ease ;

  &:hover{
    transform: translateY(-10px);
    box-shadow: 0 1px 10px @weak-text-gray;
  }

  *{
    display: inline-flex;
  }

  .cover{
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 170px;

    .cover-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .auto-create-cover{
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: white;
    }
  }
  .detail{
    flex-direction: column;
    width: 100%;
    border-top: none;
    padding:20px;
    background: white;

    .top-block{
      width: 100%;
      flex-direction: row;
      align-items: center;
      .author,
      .tag-item{
        font-size: 10px;
        line-height: 20px;
        color: @table-weak-text-gray;
        margin-right: 16px;
      }
    }
    .title{
      color: @main-text-color;
      font-size: 18px;
      line-height: 26px;
      font-weight: 600;
      .ellipsis-text(294px);
    }
    .bottom-block{
      width: 100%;
      margin-top: 16px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .author,
      .browseNum,
      .collectNum,
      .create-time,
      .likeNum{
        margin-right: 16px;
        font-size: 12px;
        line-height: 26px;
        font-weight: 400;
        align-items: center;
        color: @main-text-color;
        .iconfont{
          font-weight: 500;
          margin-right: 3px;
          font-size: 13px;
          color: @weak-text-gray;
        }
      }
      .browseNum{
        .iconfont{
          font-size: 11px;
        }
      }
      .create-time{
        flex: 1;
        margin-right: 0;
        justify-content: flex-end;
      }
    }
  }

}