@import "/src/assets/globalStyle/commonStyle.less";

.pc-transform{
  position: absolute;
  max-width: 750PX !important;
  left: 0;
  right: 0;
  margin: auto;
}

.app{
  width: 100%;
  min-height: 100vh;
}
body{
  background: @main-bg-color;
}