@import "/src/assets/globalStyle/commonStyle.less";

.pc-transform{
  position: absolute;
  width: 375PX;
  left: 0;
  right: 0;
  margin: auto;
  .nav-bar{
    left: 0;
    right: 0;
    margin: auto;
    width: 375PX;
  }
  .bottom-options{
    left: 0;
    right: 0;
    margin: auto;
    width: 375PX;
  }
}

.app{
  width: 100%;
  min-height: 200vh;
  background: @main-bg-color;
}