@import "/src/assets/globalStyle/commonStyle.less";

.login{
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 16px;
  *{
    display: inline-flex;
  }

  .top-block{
    margin-top: 60px;
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: center;

    .logo{
      z-index: 9;
      //background: #73a2ee;
      border-radius: 5px;
      .logo-img{
        height: 50px;
        //filter: brightness(0) invert(1);
      }
    }
    .title{
      margin-left:4px;
      font-weight: bold;
      font-size: 24px;
    }
    .sub-title{
      left: 55px;
      font-size: 8px;
      position: absolute;
      bottom: 0;
      color: @weak-text-gray;
    }
  }

  .login-card{
    padding: 0 4px 12px;
    margin-top: 72px;
    width: 100%;
    flex-direction: column;
    //box-shadow: 0 5px 8px #d2d2e7b5;
    z-index: 9;

    .change-login-method-shell{
      align-items: center;
      justify-content: flex-end;

      .change-login-method{
        font-size: 12px;
        color: @table-weak-text-gray;
      }
      .icon-qiehuan{
        margin-right: 4px;
        color: @table-weak-text-gray;
        font-size: 12px;
      }
    }


    .to-login-btn{
      width: 100%;
      height: 42px;
      align-items: center;
      justify-content: center;
      background: linear-gradient(45deg, rgba(2,32,103), rgba(192,54,217), @main-color, rgb(3, 168, 176),  );
      color: white;
      margin-top: 64px;
      font-size: 15px;
      border-radius: 18px;
      font-family: DIN, DIN;
    }

    .fast-login{
      margin-top: 64px;
      width: 100%;
      flex-direction: column;
      align-items: center;
      .title{
        position: relative;
        justify-content: center;
        font-size: 13px;
        color: @table-weak-text-gray;
        &:after,
        &:before{
          position: absolute;
          content: '';
          width: 84px;
          height: 1px;
          .abs-ver-center();
        }
        &:after{
          transform: translateX(calc(100%));
          background: linear-gradient(to right, rgb(182, 182, 182,1), rgb(182, 182, 182,1) 50%, rgba(182, 182, 182,0));
        }
        &:before{
          transform: translateX(calc(-100%));
          background: linear-gradient(to left, rgb(182, 182, 182,1), rgb(182, 182, 182,1) 50%, rgba(182, 182, 182,0));
        }
      }

      .login-fast-icon{
        margin-top: 16px;
        flex-direction: row;
        align-items: center;
        .login-fast-icon-item{
          position: relative;
          width: 32px;
          height: 32px;
          .develop-tag{
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateX(50%) translateY(50%);
            font-size: 8px;
            background: @weak-text-gray2;
            border-radius: 12px;
            white-space: nowrap;
            color: white;
            font-weight: 500;
            padding: 2px 4px;
          }
        }
        .login-fast-icon-img{
          width: 32px;
          filter: grayscale(1);
        }
        .login-fast-icon-item + .login-fast-icon-item{
          margin-left: 32px;
        }
      }
    }
  }
}

