@import "/src/assets/globalStyle/commonStyle.less";

.create-and-edit-article-by-pc{
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #F7F8F9;
  .head-block{
    height: 64PX;
    background: white;
    padding: 0 27PX;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    *{
      display: inline-flex;
    }
    .create-title{
      flex: 1;
      .create-title-input{
        border: none;
        width: 100%;
        font-size: 24PX;
        font-weight: 500;
        &::placeholder{
          color: @table-weak-text-gray;
        }
      }
    }
    .save-tip{
      font-size: 14PX;
      color: #c9cdd4;
      margin-right: 16PX;
    }
    .publish{
      align-items: center;
      min-height: 32PX;
      padding: 2PX 16PX;
      border-radius: 4PX;
      font-size: 14PX;
      color: white;
      background: @main-color;
      margin-right: 16PX;
      cursor: pointer;
    }
    .user-info{
      border-radius: 50%;
      overflow: hidden;
      height: 32PX;
      width: 32PX;
      background: #c9cdd4;
      .head-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .markdown-container{
    width: 100%;
    height: calc(100% - 64PX);
    .toastui-editor-md-preview{
      background: white;
    }
  }
}

