@import "/src/assets/globalStyle/commonStyle.less";

.nav-bar-shell {
  width: 100%;
  height: 60px;
}

.nav-bar {
  transition: all ease 0.3s;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: @main-bg-color;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  z-index: 9;

  &.has-scroll{
    background-color: white;
    box-shadow: 0 1px 4px @weak-gray;
  }

  &.nav-bar-hidden{
    transform: translateY(-100%);
  }

  * {
    display: inline-flex;
  }

  .logo {
    flex: 1;
    align-items: center;
    flex-direction: row;
    margin-right: 39px;
    .logo-img {
      height: 35px;
      cursor: pointer;
    }
  }

  .search-icon{
    margin-left: 16px;
    font-weight: 600;
    font-size: 19px;
    color: @main-text-color2;
    cursor: pointer;
  }

  .chat-icon{
    padding-top: 1px;
    margin-left: 16px;
    font-size: 23px;
    color: @main-text-color2;
    cursor: pointer;
  }

  .dark-icon{
    cursor: pointer;
    margin-left: 14px;
    font-size: 23px;
    font-weight: 600;
    color: @main-text-color2;
  }

  .progress{
    position: relative;
    width: 24px;
    height: 24px;
    background: @main-text-color2;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    transition: ease all 0.2s;
    border-radius: 50%;
    margin-left: 16px;
    &.progress-none{
      width: 4px;
      height: 4px;
      background: @table-weak-text-gray;
    }
    .text{
      position: relative;
      .dark-icon{
        position: absolute;
      z-index: 9;
    }
      font-size: 12px;
      right: -6px;
      top: -6px;
      font-weight: 600;
      color: @main-text-color;
    }
  }

}

.user-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  width: 100%;
  height: 100%;

  & {
    display: inline-flex;
  }

  .user-info {
    margin-top: 12px;
    align-items: center;
    flex-direction: row;

    .user-head-img {
      height: 46px;
      width: 46px;
      border-radius: 50%;
    }

    .text-info {
      margin-left: 8px;
      flex-direction: column;
      align-items: flex-start;

      .nick-shell {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .nick {
          font-size: 14px;
          font-weight: 400;
          color: @main-text-color;
          line-height: 20px;
        }

        .iconfont {
          font-size: 14px;
          color: @table-weak-text-gray;
        }
      }

      .last-login {
        margin-top: 4px;
        line-height: 16px;
        font-size: 10px;
        color: @weak-text-gray;
      }
    }
  }

  .statistical-data {
    flex-direction: row;
    margin-top: 16px;
    align-items: center;

    .data-item {
      width: 80px;
      flex-direction: column;
      align-items: center;

      .num {
        font-weight: 600;
        color: @main-text-color;
        font-size: 14px;
        line-height: 16px;
      }

      .desc {
        margin-top: 4px;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: @table-weak-text-gray;
      }
    }
  }

  .btn-list {
    margin-top: 8px;
    margin-bottom: 4px;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-top: 10px;

    &:before {
      position: absolute;
      top: 0;
      content: '';
      height: 0.5px;
      width: 100%;
      background: rgba(182, 182, 182, 0.5);
    }
  }

  .btn-item {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: @main-color;

    .iconfont {
      margin-right: 2px;
      transform: translateY(-1px);
    }

    &.warning {
      color: @heavy-main-color;
    }
  }

  .btn-item + .btn-item {
    margin-left: 76px;
  }
}


